.u-section-1 {
  background-image: url("images/24c694e3dc8d55e2357f8a7b8d39c7f621e60f4e9e6816b807b643ab7345d0365dd94a19a23710b394ee9f73e59ff4c61f1731b25cf284577b13b2_1280.jpg");
  background-size: 125%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 13px 365px 0 auto;
  padding: 11px 31px 12px 30px;
}

.u-section-1 .u-image-1 {
  width: 124px;
  height: 154px;
  margin: -58px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -145px 157px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 928px;
  background-image: none;
  min-height: 92px;
  margin: 165px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 11px 0 -5px;
}

.u-section-1 .u-text-2 {
  margin: 67px -119px 60px 906px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 81px;
    margin-right: auto;
    margin-left: 378px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -64px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -112px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 148px -39px 0 726px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 210px;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 43px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 136px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -41px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 400px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 556px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -461px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -177px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 426px;
  }
}.u-section-2 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 413px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px 197px 0 797px;
}

.u-section-2 .u-text-2 {
  margin: 0 0 0 600px;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 278px;
  background-image: url("images/terre.jpg");
  background-position: 50% 50%;
  margin: -273px auto 60px 118px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 697px;
    margin-right: 97px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 574px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 194px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 62px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 330px;
}

.u-section-3 .u-text-1 {
  margin: 94px 0 60px;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 588px;
}

.u-section-4 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin: 140px auto 0 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -178px 817px 0 42px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -112px 456px 0 403px;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -84px 42px 60px 817px;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-4 .u-gallery-1 {
    height: 244px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-text-1 {
    margin-top: -126px;
    margin-right: 659px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 356px;
    margin-left: 303px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 659px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-4 .u-gallery-1 {
    height: 561px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-text-1 {
    margin-top: -443px;
    margin-right: 439px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 246px;
    margin-left: 193px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-text-1 {
    margin-top: -1144px;
    margin-right: 259px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 156px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-4 .u-gallery-1 {
    height: 795px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -677px;
    margin-right: 59px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 56px;
    margin-left: 3px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 59px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 905px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 606px;
  text-decoration: underline !important;
  margin: 60px auto 0;
}

.u-section-5 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 9px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 9px 83px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 651px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-6 {
  background-image: none;
  min-height: 1300px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1167px;
  margin: 1px calc(((100% - 1140px) / 2) + -27px) 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 553px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 11px;
}

.u-section-6 .u-text-1 {
  margin: 28px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 553px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 716px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 1203px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 445px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1096px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1371px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1177px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 322px;
  }
}.u-section-7 {
  min-height: 659px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 659px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    height: auto;
  }
}.u-section-8 {
  background-image: none;
  min-height: 4498px;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 661px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 57px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 661px;
  pointer-events: auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-custom-html-1 {
  min-height: 758px;
  margin: 0;
}

.u-section-8 .u-custom-html-2 {
  min-height: 845px;
  margin: 49px 0 0;
}

.u-section-8 .u-custom-html-3 {
  min-height: 1154px;
  margin: 20px 0 0;
}

.u-section-8 .u-custom-html-4 {
  min-height: 911px;
  margin: 90px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 4382px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 545px;
  }

  .u-section-8 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-custom-html-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-custom-html-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-custom-html-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 4254px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 4563px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 4331px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 394px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 801px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-decoration: underline !important;
  width: 606px;
  margin: 60px auto 0;
}

.u-section-9 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 9px auto 0;
}

.u-section-9 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 9px 83px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-9 .u-text-2 {
    width: 651px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1800px;
}

.u-section-10 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1710px;
  margin: 0 -570px 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 937px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 82px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 937px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-custom-html-1 {
  margin-top: 11px;
  margin-bottom: 18px;
  min-height: 834px;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 318px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 1378px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1029px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 1029px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 66px;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 372px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1941px;
}

.u-section-11 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1710px;
  margin: 0 -570px 0 auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 545px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 60px 24px;
}

.u-section-11 .u-text-1 {
  margin: 81px 0 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 545px;
  pointer-events: auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-11 .u-custom-html-1 {
  min-height: 679px;
  margin: 13px -11px 0 0;
}

.u-section-11 .u-custom-html-2 {
  margin-top: 13px;
  margin-bottom: 0;
  min-height: 691px;
}

@media (max-width: 1199px) {
  .u-section-11 {
    min-height: 318px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1029px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 1029px;
    background-position: 50% 50%;
  }

  .u-section-11 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
  }

  .u-section-11 .u-custom-html-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 66px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 1626px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 788px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1841px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1713px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 217px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 565px;
}

.u-section-12 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-decoration: underline !important;
  width: 606px;
  margin: 60px auto 0;
}

.u-section-12 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 9px auto 0;
}

.u-section-12 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 9px 83px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-12 .u-text-2 {
    width: 651px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 1419px;
}

.u-section-13 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 715px;
  pointer-events: auto;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 60px 23px;
}

.u-section-13 .u-text-1 {
  margin: 52px 0 0;
}

.u-section-13 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 715px;
  pointer-events: auto;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-13 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 704px;
}

@media (max-width: 1199px) {
  .u-section-13 {
    min-height: 318px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 590px;
    background-position: 50% 50%;
  }

  .u-section-13 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-13 {
    min-height: 66px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 678px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 427px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 2250px;
}

.u-section-14 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 784px;
  pointer-events: auto;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 60px 13px;
}

.u-section-14 .u-text-1 {
  margin: 132px 0 0;
}

.u-section-14 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 784px;
  pointer-events: auto;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-14 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 766px;
  margin-left: 0;
}

.u-section-14 .u-custom-html-2 {
  margin-top: 9px;
  margin-bottom: 0;
  min-height: 691px;
}

@media (max-width: 1199px) {
  .u-section-14 {
    min-height: 318px;
  }

  .u-section-14 .u-sheet-1 {
    min-height: 2112px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 646px;
    background-position: 50% 50%;
  }

  .u-section-14 .u-custom-html-1 {
    height: auto;
    margin-left: initial;
  }

  .u-section-14 .u-custom-html-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-14 {
    min-height: 66px;
  }

  .u-section-14 .u-sheet-1 {
    min-height: 1961px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2309px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 2034px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 468px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 573px;
}

.u-section-15 .u-text-1 {
  margin: 2px 1140px 0 0;
}

.u-section-15 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    margin-right: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-text-1 {
    margin-right: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-1 {
    margin-right: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    margin-right: 340px;
  }
}.u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 260px;
}

.u-section-16 .u-image-1 {
  width: 109px;
  height: 135px;
  margin: 60px auto 0 195px;
}

.u-section-16 .u-text-1 {
  margin: -109px 245px 85px 416px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-top: -110px;
    margin-right: 145px;
    margin-left: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-1 {
    margin-right: 35px;
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-1 {
    margin-left: 0;
  }
}