.u-section-1 {
  background-image: url("images/24c694e3dc8d55e2357f8a7b8d39c7f621e60f4e9e6816b807b643ab7345d0365dd94a19a23710b394ee9f73e59ff4c61f1731b25cf284577b13b2_12801.jpg");
  background-size: 125%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 13px 365px 0 auto;
  padding: 11px 31px 12px 30px;
}

.u-section-1 .u-image-1 {
  width: 124px;
  height: 154px;
  margin: -58px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -145px 157px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 928px;
  background-image: none;
  min-height: 92px;
  margin: 165px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 11px 0 -5px;
}

.u-section-1 .u-text-2 {
  margin: 67px -119px 60px 906px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 81px;
    margin-right: auto;
    margin-left: 378px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -64px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -112px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 148px -39px 0 726px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 210px;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 43px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -203px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 136px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -41px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 400px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 556px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -461px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -177px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 426px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1503px;
}

.u-section-2 .u-text-1 {
  width: 301px;
  margin: 94px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 94px 60px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

.u-section-2 .u-btn-9 {
  padding: 0;
}

.u-section-2 .u-btn-10 {
  padding: 0;
}

.u-section-2 .u-btn-11 {
  padding: 0;
}

.u-section-2 .u-btn-12 {
  padding: 0;
}

.u-section-2 .u-btn-13 {
  padding: 0;
}

.u-section-2 .u-btn-14 {
  padding: 0;
}

.u-section-2 .u-btn-15 {
  padding: 0;
}

.u-section-2 .u-btn-16 {
  padding: 0;
}

.u-section-2 .u-btn-17 {
  padding: 0;
}

.u-section-2 .u-btn-18 {
  padding: 0;
}

.u-section-2 .u-btn-19 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 301px;
    margin-left: 0;
    margin-right: 0;
  }
}